body{
    background-color: #DAD7CD;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    header{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        background-color: #A3B18A;
        border-radius: 20px;
        padding: 1rem;
        width: 100%;
        box-sizing: border-box;

        h1, #playerName{ 
            font-size: 2rem;
            font-style: bold;
            color: #DAD7CD;
        }

        .userMetrics{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            .metricCard{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #588157;
                gap: 10px;
                height: 200px;
                width: 100%;
                box-sizing: border-box;

                span{
                    font-size: 4rem;
                    font-style: bold;
                    color: #DAD7CD;
                }

                p{
                    font-size: 2rem;
                    color: #DAD7CD;
                    opacity: 0.6;
                }
            }
        }
    }
}

#loadingScreen {
    position: fixed;
    inset: 0;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    color: #fff;
    font-family: "Jersey 10";
    font-size: 3rem;
    letter-spacing: 2px;
    text-align: center;

    img {
        width: 200px;
        height: 200px;
        image-rendering: pixelated;
    }

    p{
        padding: 1rem;
    }

    &.fadeOut {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease-out;
    }
}