/*@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Pixelify+Sans:wght@400..700&display=swap');*/

.accountManagementModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-sizing: border-box;
    padding: 2rem;
    margin: 0;

    .loadingContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: 100%;
        width: 100%;
        box-sizing: border-box;

        .loadingText{
            font-size: 20px;
            color: #fff;
        }
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        background: #a3b18a;
        border-radius: 30px;
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        button{
            color: #5e5e5e;
            text-align: center;
            font-family: "Jersey 10", cursive;
            font-size: 22px;

            border: none;
            border-radius: 30px;
            width: 100%;
            margin: 0;
            padding: 10px;
            transition: background 0.4s ease-in-out;
        }

        button.active{
            background: #3a5a40;
            color: #fff;
        }

        button:not(.active){
            background: transparent;
        }
    }

    .sliderViewport {
        width: 100%;
        overflow: hidden;
        position: relative;
        transition: height 0.3s ease-in-out;
        box-sizing: border-box;

        .sliderWrapper {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            width: 300%;
            transition: transform 0.6s ease-in-out;
            box-sizing: border-box;

            &.character { transform: translateX(0%); }
            &.preference { transform: translateX(-33.33%); }
            &.account { transform: translateX(-66.66%); }

            .page { 
                padding: 0 10px;
                height: auto;
                width: 33.33%;
                flex-shrink: 0;
                box-sizing: border-box;
            }
        }

        .sliderWrapper.character .preferencePage,
        .sliderWrapper.character .accountPage,
        .sliderWrapper.preference .characterPage,
        .sliderWrapper.preference .accountPage,
        .sliderWrapper.account .characterPage,
        .sliderWrapper.account .preferencePage {
            height: 0;
            overflow: hidden;
            visibility: hidden;
        }

        .activePage {
            height: auto;
            visibility: visible;
        }
    }

    .characterContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        box-sizing: border-box;

        .genderContainer{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            box-sizing: border-box;

            .imgContainer{
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                border-radius: 30px;
                height: 250px;
                width: 60%;
                overflow: hidden;
                box-sizing: border-box;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0; 
                    left: 0; 
                    right: 0; 
                    bottom: 0;
                    
                    background-image: url("/assets/Background/AvatarBg.jpg");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    
                    filter: brightness(0.8) blur(2px) grayscale(20%); 
                    z-index: 1;
                }

                img{
                    height: 200px;
                    width: auto;
                    z-index: 2;
                }
            }

            .genderToggle{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-grow: 1;
                gap: 1rem;

                button{
                    font-family: "Jersey 10", cursive;
                    font-size: 22px;
                    color: #000;
                    background-color: #fff;
                    border: 5px solid #000;

                    flex-grow: 1;
                    height: 50px;
                    width: 200px;
                    box-sizing: border-box;
                }

                #maleButton.active {
                    color: #fff;
                    background-color: rgb(61, 166, 252);
                    border: 5px solid #fff;
                }

                #femaleButton.active {
                    color: #fff;
                    background-color: rgb(255, 134, 221);
                    border: 5px solid #fff;
                }

                #maleButton:not(.active) {
                    color: rgb(255, 255, 255, 0.3);
                    background-color: rgba(61, 166, 252, 0.3);
                    border: 5px solid rgb(255, 255, 255, 0.3);
                }

                #femaleButton:not(.active) {
                    color: rgb(255, 255, 255, 0.3);
                    background-color: rgba(255, 134, 221, 0.3);
                    border: 5px solid rgb(255, 255, 255, 0.3);
                }
            }
        }

        .nameContainer{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            box-sizing: border-box;

            input{
                font-family: "Jersey 10", cursive;
                font-size: 24px;
                padding: 1rem;
                border-radius: 5px;
                border: 5px solid #a3b18a;
                width: 100%;
                box-sizing: border-box;
            }
        }
    }

    .preferenceContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        box-sizing: border-box;

        .tagsInputContainer{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            width: 100%;
            box-sizing: border-box;

            .dropdownContainer{
                position: relative;
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                box-sizing: border-box;

                input{
                    font-family: "Jersey 10", cursive;
                    font-size: 24px;
                    padding: 1rem;
                    border-radius: 5px;
                    border: 5px solid #a3b18a;
                    width: 100%;
                    box-sizing: border-box;
                }

                ul{
                    position: absolute;
                    top: 100%;
                    left: 0;
                    margin: 0;
                    padding: 0;
                    width: auto;
                    max-height: 250px;
                    overflow-y: auto;
                    background-color: #fff;
                    list-style: none;
                    z-index: 1000;
                    box-sizing: border-box;

                    li {
                        padding: 10px;
                        font-size: 16px;
                        color: black;
                        cursor: pointer;
                        border-bottom: 1px solid rgb(51, 51, 51, 0.5);
                        
                        &:hover {
                            background-color: #f0f0f0;
                            color: #008000;
                        }
                    }
                }
            }

            #addButton{
                font-family: "Jersey 10", cursive;
                font-size: 22px;
                color: #588157;
                background-color: #fff;
                border: 4px solid #a3b18a;
                box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.1);

                padding: 1rem;
                width: 200px;
                box-sizing: border-box;

                &:hover{
                    color: #fff;
                    background-color: #a3b18a;
                    border: 4px solid #fff;
                }
            }
        }

        .savedTagsWrapper{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            width: 100%;
            box-sizing: border-box;

            #skillContainer, #personalityContainer{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 1rem;
                width: 100%;
                box-sizing: border-box;

                ul{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 300px;
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    border: 5px dashed rgb(255, 255, 255, 0.8);
                    background: rgba(253, 253, 253, 0.2);
                    overflow-y: auto;

                    li {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 1rem;
                        height: auto;
                        width: 100%;

                        color: black;
                        font-family: "Jersey 10", cursive;
                        font-size: 18px;
                        text-transform: uppercase;

                        border: none;
                        border-bottom: 2px dashed #000;
                        border-radius: 0;
                        box-sizing: border-box;

                        &:last-child {
                            border-bottom: none;
                        }

                        &.skill {
                            background-color: #c6f1ff;
                        }

                        &.personality {
                            background-color: #fafad2;
                        }

                        button {
                            font-family: "Jersey 10", cursive;
                            font-size: 16px;
                            color: rgb(255, 255, 255);
                            background-color: rgba(0, 0, 0, 0.2);
                            border: none;
                            justify-items: center;
                            box-sizing: border-box;

                            &:hover {
                                color: #ff0000;
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
        }

        .courseSelectionContainer {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem; 
            justify-content: center;

            input[type="checkbox"]{
                display: none;
                image-rendering: pixelated;

                &:checked + label{
                    border-color: #90ee90;
                    background-color: #3a5a40;

                    em{
                        color: #dad7cd;
                    }
                }
            }

            label{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                padding: 20px;
                border: 4px solid #dad7cd;
                line-height: 22px;
                background-color: #a3b18a;
                color: #fff;

                cursor: pointer;
                box-sizing: border-box;

                &:hover {
                    border-color: #344e41;
                }

                strong { font-size: 18px; }

                em {
                    font-size: 16px;
                    color: #333;
                }
            }
        }
    }

    .accountContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
        width: 100%;
        box-sizing: border-box;

        .emailContainer, .passContainer, .pinContainer, .confirmPassContainer, .confirmPinContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            box-sizing: border-box;

            input{
                font-family: "Jersey 10", cursive;
                font-size: 24px;
                padding: 1rem;
                border-radius: 5px;
                border: 5px solid #a3b18a;
                width: 100%;
                box-sizing: border-box;
            }
        }

        .passWrapper, .pinWrapper, .confirmPassWrapper, .confirmPinWrapper {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;

            button{
                position: absolute;
                right: 0.5rem;
                background: none;
                border: none;
                cursor: pointer;
                
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem;

                img{
                    filter: invert(48%) sepia(13%) saturate(924%) hue-rotate(68deg) brightness(92%) contrast(85%);
                    width: 40px;
                    height: auto;
                    pointer-events: none;
                }
            }
        }

        .pinLayout{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            width: 100%;
            box-sizing: border-box;
        }
    }

    .btnWrapper{
        display: flex;
        flex: 1;
        justify-content: center;

        #saveButton{
            font-family: "Jersey 10", cursive;
            font-size: 22px;
            color: #588157;
            background-color: #fff;
            border: 4px solid #a3b18a;
            box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.1);

            margin-top: 2rem;
            padding: 1rem;
            width: 400px;
            box-sizing: border-box;

            &:hover{
                color: #fff;
                background-color: #a3b18a;
                border: 4px solid #fff;
            }
        }
    }
}