.courseStatCard{
    display: flex;
    flex-direction: column;
    background-color: #588157;
    border: 1.1vmin solid #344e41;

    .courseInfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.8vmin;
        background-color: #3A5A40;
        border-bottom-left-radius: 3.4vmin;
        border-bottom-right-radius: 3.4vmin;
        padding: 2.3vmin;
        margin: 0;

        .courseTitle, .courseDescription{ 
            font-size: 1.9vmin;
            text-align: center;
        }

        .courseDescription{
            font-size: 1.4vmin;
            color: #DAD7CD;
        }
    }

    .courseContent{
        display: flex;
        flex-direction: column;
        gap: 1.8vmin;
        padding: 3.7vmin;

        .taskGrid{
            display: flex;
            flex-direction: column;
            gap: 1.2vmin;
            padding: 0 3.7vmin;

            .taskItem{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                span{ font-size: 1.6vmin; }

                &:last-child {
                    border-top: 0.5vmin dashed #a3b18a;
                    margin-top: 1.8vmin;
                    padding-top: 1.8vmin;
                }
            }
        }
    }

    .courseStatus{
        display: flex;
        flex-direction: column;
        gap: 1.8vmin;
        background-color: #3A5A40;
        border-top-left-radius: 3.4vmin;
        border-top-right-radius: 3.4vmin;
        padding: 2.3vmin 7.4vmin;

        .courseProgressContainer{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1.8vmin;
            width: 100%;
            box-sizing: border-box;

            .progressBarContainer{
                width: 100%;
                height: 3.5vmin;
                background-color: #222;
                border: 0.5vmin solid #a3b18a;
                position: relative;
                box-sizing: border-box;

                .progressBar {
                    height: 100%;
                    background-color: #588157;     
                    background-image: linear-gradient(
                        45deg,
                        rgba(255, 255, 255, 0.15) 25%,
                        transparent 25%,
                        transparent 50%,
                        rgba(255, 255, 255, 0.15) 50%,
                        rgba(255, 255, 255, 0.15) 75%,
                        transparent 75%,
                        transparent
                    );
                    background-size: 2.3vmin;
                    transition: width 0.5s ease-in-out;
                }
            }
        }

        .statusRow{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 1.6vmin;

            a{
                color: #fff;
                cursor: pointer;
            }

            a:hover{ transform: scale(1.02); }
        }
    }
}