.leaderboardContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3.8vmin;
    padding: 3.7vmin;
    margin: 0;
    height: auto;
    width: 100%;
    box-sizing: border-box;

    #mainTitle{
        font-size: 3vmin;
        text-wrap: wrap;
        margin: 0;
        text-align: left;
        width: 100%;
        max-width: 70vmin;
        user-select: none;
    }

    .mainHeader{
        font-size: 2.2vmin;
        text-align: center;
    }

    .subHeader{
        font-size: 1.8vmin;
        text-align: left;
        color: #fff;         
    }

    .loadingContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.8vmin;
        height: 100%;
        width: 100%;
        box-sizing: border-box;

        .loadingText{
            font-size: 2.3vmin;
            color: #fff;
        }
    }

    .filterContainer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.8vmin;

        .filterBtn{
            font-family: "Jersey 10";
            font-size: 2vmin;
            color: #588157;
            background-color: #fff;
            border: 0.5vmin solid #a3b18a;
            box-shadow: 1.2vmin 1.2vmin 0.8vmin rgba(0, 0, 0, 0.1);
            border-radius: 3.5vmin;
            padding: 1.1vmin;
            width: 12vmin;
            box-sizing: border-box;
            transform: translateY(0);
            transition: all 0.1s ease;

            &.active{
                color: #fff;
                background-color: #588157;
                border: 0.5vmin solid #fff;
                transform: translateY(-1.1vmin);
            }

            &:hover{
                color: #fff;
                background-color: #a3b18a;
                border: 0.5vmin solid #fff;
            }
        }
    }

    .leaderboardDataContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7.5vmin;
        padding: 2.3vmin;
        background-color: rgba(255, 255, 255, 0.1);
        border: 0.5vmin solid #a3b18a;
        box-shadow: 1.2vmin 1.2vmin 0.8vmin rgba(0, 0, 0, 0.1);
        width: 100%;
        box-sizing: border-box;

        .podiumContainer{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 52vmin;
            width: 104vmin;
            box-sizing: border-box;

            .podiumColumn{
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: flex-end;
                width: auto;
                box-sizing: border-box;
                z-index: 1;

                &.rankOne{
                    order: 2;
                    background-color: #B8860B;
                    height: 35vmin;
                    width: 35vmin;
                    box-sizing: border-box;
                }

                &.rankTwo{
                    order: 1;
                    background-color: #71706E;
                    height: 28vmin;
                    width: 35vmin;
                    box-sizing: border-box;
                }

                &.rankThree{
                    order: 3;
                    background-color: #804A00;
                    height: 23vmin;
                    width: 35vmin;
                    box-sizing: border-box;
                }

                .avatarContainer{
                    position: absolute;
                    top: -21vmin;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: transparent;
                    z-index: 10;

                    img{
                        height: 23vmin;
                        width: auto;
                        user-select: none;
                    }
                }

                .columnBlock{
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: flex-end;
                    width: auto;
                    box-sizing: border-box;
                    z-index: 2;

                    &.colorOne{
                        order: 2;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #FFD700;
                        height: 31vmin;
                        width: 35vmin;
                        box-sizing: border-box;

                        .plateContainer{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 1.2vmin;
                            background-color: #B8860B;
                            border: 0.4vmin solid #fff;
                            padding: 1.8vmin;
                            height: auto;
                            width: 32vmin;
                            box-sizing: border-box;

                            img{
                                height: 3.5vmin;
                                width: auto;
                            }

                            span{ font-size: 1.4vmin; }
                        }
                    }

                    &.colorTwo{
                        order: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #C0C0C0;
                        height: 25vmin;
                        width: 35vmin;
                        box-sizing: border-box;

                        .plateContainer{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 1.2vmin;
                            background-color: #71706E;
                            border: 0.4vmin solid #fff;
                            padding: 1.8vmin;
                            height: auto;
                            width: 32vmin;
                            box-sizing: border-box;

                            img{
                                height: 3.5vmin;
                                width: auto;
                            }

                            span{ font-size: 1.4vmin; }
                        }
                    }

                    &.colorThree{
                        order: 3;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #CD7F32;
                        height: 20vmin;
                        width: 35vmin;
                        box-sizing: border-box;

                        .plateContainer{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 1.2vmin;
                            background-color: #804A00;
                            border: 0.4vmin solid #fff;
                            padding: 1.8vmin;
                            height: auto;
                            width: 32vmin;
                            box-sizing: border-box;

                            img{
                                height: 3.5vmin;
                                width: auto;
                            }

                            span{ font-size: 1.4vmin; }
                        }
                    }
                }
            }
        }

        .listContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.8vmin;
            width: 100%;
            box-sizing: border-box;

            .listItem{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 1.8vmin;
                background-color: #588157;
                border: 0.5vmin solid #a3b18a;
                box-shadow: 1.2vmin 1.2vmin 0.8vmin rgba(0, 0, 0, 0.1);
                padding: 1.2vmin;
                width: 100%;
                box-sizing: border-box;

                span{
                    font-size: 1.9vmin;
                    color: #fff;
                }
            }
        }

        .emptyState{
            font-size: 1.9vmin;
            color: #fff;
            background-color: #588157;
            border: 0.5vmin solid #a3b18a;
            box-shadow: 1.2vmin 1.2vmin 0.8vmin rgba(0, 0, 0, 0.1);
            padding: 1.2vmin;
            width: 100%;
            box-sizing: border-box;
        }
    }
}