.manualContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3.8vmin;
    padding: 3.7vmin;
    margin: 0;
    height: auto;
    width: 100%;
    box-sizing: border-box;

    #mainTitle{
        font-size: 3vmin;
        text-wrap: wrap;
        margin: 0;
        text-align: left;
        width: 100%;
        max-width: 70vmin;
        user-select: none;
    }

    .mainHeader{
        font-size: 2.2vmin;
        text-align: center;
    }

    .subHeader{
        font-size: 1.8vmin;
        text-align: left;
        color: #fff;         
    }

    nav{
        position: sticky; 
        top: 2.3vmin;
        left: 0;
        border-radius: 1.2vmin;
        background: #a3b18a;
        z-index: 99;
        transition: none;
        width: 100%;
        height: auto;
        box-sizing: border-box;

        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;

            li{
                position: relative;
                flex-shrink: 0;

                a{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 1.8vmin;
                    height: 4.7vmin;
                    padding: 0 4.7vmin;
                    font-size: 1.4vmin;
                    color: #344e41;
                    text-decoration: none;

                    &:hover{
                        color: #fff;
                        background-color: #3a5a40;
                    }
                }

                ul{
                    position: absolute;
                    top: 100%;
                    left: right;
                    z-index: 120;
                    background: #141414;
                    box-shadow: 0 0.4vmin 0.9vmin rgba(0, 0, 0, 0.4);
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    max-height: 0;
                    min-width: 20vmin;             
                    opacity: 0;
                    visibility: hidden;
                    overflow: visible;
                    transition: all 0.3s ease;

                    li{
                        width: 100%;
                        box-sizing: border-box;

                        a{  
                            display: block;
                            height: auto;
                            padding: 1.2vmin 1.7vmin;
                            border-bottom: 0.2vmin dashed #333;
                            background: #a3b18a;
                            font-size: 1.4vmin;
                            color: #344e41;
                            text-align: center;
                        }

                        ul{
                            position: absolute;
                            top: 0;
                            right: 100%;
                            z-index: 130;
                            background: #141414;
                            box-shadow: 0 0.4vmin 0.9vmin rgba(0, 0, 0, 0.4);
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            display: flex;
                            flex-direction: column;
                            min-width: 28vmin;
                            overflow: hidden;
                            transition: all 0.3s ease-in-out;

                            a{  
                                display: block;
                                height: auto;
                                padding: 1.2vmin 1.7vmin;
                                border-bottom: 0.2vmin dashed #333;
                                background: #a3b18a;
                                font-size: 1.4vmin;
                                color: #344e41;
                                text-align: center;
                            }
                        }
                    }

                    &:hover > ul, &.active > ul{
                        opacity: 1;
                        visibility: visible;
                    }
                }

                &:hover > ul, &.active > ul{
                    opacity: 1;
                    visibility: visible;
                    max-height: 35vmin;
                }
            }
        }
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.8vmin;

        section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #588157;
            border-radius: 1.2vmin;
            padding: 2.3vmin;
            gap: 1.8vmin;
            width: 100%;
            box-sizing: border-box;

            img{
                height: 46vmin;
                width: 100%;
                border-radius: 1.2vmin;
                border: 1px solid #fff;
                box-sizing: border-box;
            }

            .caption{
                text-align: left;
                font-size: 1.8vmin;
                color: #DAD7CD;
            }

            .cardContainer{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1.2vmin;
                gap: 1.8vmin;
                width: 100%;
                box-sizing: border-box;

                .cardWrapper{
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background: #476846;
                    border-radius: 1.2vmin;
                    padding: 3.7vmin;
                    gap: 1.8vmin;
                    width: 100%;
                    box-sizing: border-box;

                    img{
                        height: 46vmin;
                        width: 100%;
                        border-radius: 1.2vmin;
                        border: 1px solid #fff;
                        box-sizing: border-box;
                    }

                    small{ text-align: right; }

                    .mainContent{
                        font-size: 1.8vmin; 
                        text-align: center;
                    }

                    .subContent{
                        font-size: 1.6vmin;
                        color: #DAD7CD;
                        text-align: center;
                    }
                }
            }
        }
    }
}