.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    #closeButton {
        position: absolute;
        top: 20px;
        right: 60px;
        background: #ff4444;
        color: white;
        border: 4px solid white;
        padding: 8px 12px;
        cursor: pointer;
        font-family: "Press Start 2P", cursive;
        font-size: 30px;
        z-index: 10;
    }
}

.modalContainer {
    border: 10px solid #dad7cd;
    min-height: 500px;
    min-width: 600px;
    max-width: 1000px;
}

.modalContent {
    overflow-y: scroll;
    height: 500px;
    width: 100%;

    background-color: #588157;
    font-family: "Press Start 2P", cursive;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
}


h1{
    font-size: 30px;
    margin: 0;
    text-align: center;
    width: 100%;
    user-select: none;
}

.mainHeader{
    font-size: 20px;
    text-align: center;
    padding: 0 5px;
}

.subHeader{
    font-size: 16px;
    text-align: left;
    padding: 0 5px;
}

.requirementHint{
    font-size: 14px;
    text-align: left;
}

.errorContainer{
    font-size: 14px;
    text-align: left;
    padding: 20px;
    background-color: #344E41;
    justify-items: center;
    white-space: pre-line;
    width: 100%;
    box-sizing: border-box;
}